.main-container {
  max-width: 1440px;
  margin: 0 auto;
}

.announcements {
  background-color: #d8e8e3;
  display: flex;
  justify-content: center;
  margin-bottom: 32px;
}

.announcements span {
  padding-top: 3.2rem; /* Relative to the font size of the body */
  padding-bottom: 3.2rem;
  max-width: 60%;
  text-align: center;
  font-size: 19px;
  line-height: 1.75;
  font-weight: 500;
}

.left-right-section {
  display: flex;
  margin-bottom: 32px;
}

.left-right-section .text {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #d4e9e2;
  color: #1e3932;
  padding: 32px 48px;
}

.left-right-section .image {
  width: 50%;
  display: flex;
}

.left-right-section .image img {
  width: 100%;
}

.text h1,
.text h3 {
  margin: 0;
  font-weight: 400;
}

.text h1 {
  margin-bottom: 24px;
  text-align: center;
  font-size: 24px;
  font-weight: 600;
}

.text h3 {
  text-align: center;
  margin-bottom: 32px;
  font-size: 19px;
}

.explore .text h1 {
  color: #000000;
  letter-spacing: 8px;
  font-size: 50px;
}

.explore .text h3 {
  color: #000000;
  font-size: 24px;
  line-height: 1.75;
}

.discover .text h1 {
  color: #1e3932;
  letter-spacing: 8px;
  font-size: 50px;
}

.discover .text h3 {
  color: #1e3932;
  font-size: 24px;
  line-height: 1.75;
}

.discover .text .cta {
  color: #1e3932;
}

.text .cta {
  padding: 7px 16px;
  border: 1px solid;
  border-radius: 50px;
  color: #1e3932;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.2s ease;
}

.text .cta:hover {
  padding: 7px 20px;
  background-color: rgba(0, 0, 0, 0.06);
}

.stories .text h1 {
  font-weight: 700;
  line-height: 1.2;
}

.stories .text {
  background-color: #1e3932;
  color: #ffffff;
}

.stories .cta {
  color: #ffffff;
}

.stories .cta:hover {
  background-color: hsla(0, 0%, 100%, 0.12);
}

.discover .text {
  background-color: #ebdbc8;
}

.discover .image {
  background-color: #ebdbc8;
}

section {
  display: flex;
}

.top-bottom-section {
  width: 50%;
  display: flex;
}

.section-container {
  display: flex;
  flex-direction: column;
}

.section-container .text .cta {
  padding: 3px 16px;
}

.top-bottom-section .image {
  width: 100%;
}

.top-bottom-section .image img {
  width: 100%;
}

.top-bottom-section .text {
  display: flex;
  flex-direction: column;
  background-color: #d4e9e2;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 32px;
  padding-top: 8px;
  line-height: 1.75;
  flex-grow: 1;
}

.cta-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.top-bottom-section:first-child .section-container {
  margin-right: 16px;
}

.top-bottom-section:last-child .section-container {
  margin-left: 16px;
}

.top-bottom-section .image {
  display: flex;
}

.top-bottom-section-container {
  margin-bottom: 32px;
}
