footer {
  height: 580px;
  padding: 24px 0;
  width: 100%;

  box-shadow: 0 -1px 3px rgb(0 0 0 / 10%), 0 -2px 2px rgb(0 0 0 / 6%),
    0 0 2px rgb(0 0 0 / 7%);
}

.footer-container {
  padding: 0 230px;
  display: flex;
  max-width: 100%;
  box-shadow: 0 4px 2px -2px rgb(0 0 0 / 7%);
}

.links-container:first-child {
  margin-left: 0;
}

.links-container {
  display: flex;
  flex-direction: column;
  margin-left: 32px;
}

.links-container h3 {
  margin-bottom: 24px;
}

.links-container ul {
  list-style-type: none;
  padding: 0;
}

.links-container ul li {
  margin-bottom: 8px;
  padding: 8px 0;
  max-width: 190px;
}

.links-container ul li a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.58);
  font-weight: 500;
}

.social-media-container {
  margin-top: 32px;
  margin-bottom: 32px;
  margin-left: 180px;
}

.social-media-container ul,
.policy-container ul {
  display: flex;
  list-style: none;
}

.social-media-container ul li {
  font-size: 35px;
  margin-right: 12px;
}

.social-media-container ul li:hover {
  cursor: pointer;
}

.policy-container {
  margin-left: 180px;
}

.policy-container ul li span {
  padding-left: 24px;
  padding-right: 24px;
}

.policy-container ul li:hover {
  cursor: pointer;
}

.starbucks-rights {
  margin-top: 22px;
  padding-left: 218px;
  font-size: 15px;
  color: rgba(0, 0, 0, 0.58);
}
